#dartboard {
    position: relative;
    left: 150px;
}

#scoreboard {
    float: left;
    clear: both;
    min-width: 350px;
}

#scoreboard .score {
    font-weight: bold;
}

.player-card {
    float: left;
    min-width: 100px;
}

#thrown {

    float: right;
}

#switch_double_btn {
    background-color: rgb(123, 123, 123);
}

#switch_view_btn {
    background-color: silver;
}

.alert-info {
    font-size: 32px;
}

.name {
    font-size: 18px;
}

.label-success {
    background-color: #5cb85c;
    position: relative;
    top: -3px;
    left: 4px;
}

#button-holder {
    float: left;
    clear: both;
    position: absolute;
    bottom: 5px;
    left: 3px;
}