#dartboard {

}

#scoreboard {
  font-size: 20px;
  height: 60px;
  float: left;
  min-width: 469px;
  clear: both;
  border-bottom: 1px solid silver;
}

#scoreboard .score {
  font-weight: bold;
}

.player-card {
  float: left;
  min-width: 100px;
}

#thrown {

  float: right;
}

button {
  display: block;
  float: left;
}