#dartboard {
  margin-top: 75px;
}

#scoreboard {
  margin-top: 75px;
  font-size: 30px;
  max-height: 600px;
  float: left;
  width: 450px;
  clear: both;
  border-bottom: 1px solid silver;
}

#scoreboard .score {
  font-weight: bold;
}

#zero {
  margin-left: 2px;
  position: fixed;
}

.player-card {
  float: left;
  min-width: 300px;
}

#thrown {

  float: right;
}

.score {
  font-size: 75px;
}

#switch_double_btn {

  background-color: rgb(123, 123, 123);
}

#switch_view_btn {
  margin-left: 60px;
  background-color: silver;
  position: fixed;
}

#switch {

  float: right;
}

button {
  display: block;
  float: left;
}